{% extends 'master.html' %}
{% load static %}
{% load cache %}

{% block page_title %}
Product list
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block page_content %}
{% include 'pagination.html' with page=page_obj paginator=paginator %}

<ul>
    {% for itm in object_list %}
    {% cache 3600 categories_list itm.title %}
    <li class="category">
        <a class="category__link" href="{% url 'categories:detail' pk=itm.pk %}">
            <span>{{ itm.title }}</span>
        </a>
    </li>
    {% endcache %}
    {% endfor %}
</ul>

{% endblock %}