{% extends 'master.html' %}
{% load static %}

{% block page_title %}
Product list
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_content %}

{% include 'pagination.html' with page=page_obj paginator=paginator %}

<ul class="product-list">
    {% for itm in products %}
    {% with img=itm.image %}
    <li class="product">
        <div class="product__content">
            <img class="product__image" src="{{ img.url }}" alt="{{ img.title }}">
            <span class="product__name">
                {{ name }}
            </span>
            <a class="product__link" href="{% url 'products:detail' pk=itm.id %}">
            </a>
        </div>
        <button itemid="{{ itm.id }}">Add to cart</button>
    </li>
    {% endwith %}
    {% endfor %}
</ul>

{% if page_obj.has_next %}
<button class="show-more-button">Show more</button>
{% endif %}

{% endblock %}

{% block page_js %}
<script src="{% static 'products/js/products.js' %}"></script>
<script src="{% static 'server/js/counter.js' %}"></script>
<script>
    const items = document.querySelectorAll('.product');
    items.forEach(
        itm => {
            const btn = itm.querySelector('button')
            btn.addEventListener(
                'click',
                evt => {
                    incLocalValue(
                        'products', btn.getAttribute('itemid')
                    )
                }
            )
        }
    );
</script>
<script>
    const productList = document.querySelector('.product-list');
    const showMoreButton = document.querySelector('.show-more-button');

    let productsUrl = '{% url "rest_products:list" %}?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}';

    const showMore = () => {
        fetch(productsUrl)
            .then(response => response.json())
            .then(
                data => {
                    data.results.map(
                        itm => productList.innerHTML += renderProduct(itm)
                    )
                    if (data.next_url) {
                        productsUrl = data.next_url
                    } else {
                        showMoreButton.classList.add('show-more-button_hidden')
                    }
                }
            )
    };

    if (showMoreButton) {
        showMoreButton.addEventListener('click', showMore);
    }

</script>
{% endblock %}
