<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }} 
    {% for err in form.not_field_errors %}
    <div class="alert alert-danger" role="alert">
        <span>{{ err}}</span>
    </div>
    {% endfor %}
    {% for field in form %}
    <div class="field-group">
        <label for="{{ form.name }}">{{ field.label }}</label>
        {{ field }}
    
        {% for err in field.errors %}
        <small class="field__error">{{ err }}</small>
        {% endfor %}
    </div>
    {% endfor %}
    {% for form in formset %}
    <fieldset>        
        {% for field in form %}
        <div class="field-group">
            <label for="{{ form.name }}">{{ field.label }}</label>
            {{ field }}
        
            {% for err in field.errors %}
            <small class="field__error">{{ err }}</small>
            {% endfor %}
        </div>
        {% endfor %}
    </fieldset>

    {% endfor %}
    <input type="submit">
</form>