{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
    {% block page_styles %}
    {% endblock %}
</head>
<body>
    <ul class="menu">
        <li class="menu__link">
            <a href="{% url 'main:index' %}" class="menu__link-inner_main">Main</a>
        </li>
        <li class="menu__link">
            <a href="{% url 'products:list' %}" class="menu__link-inner_products">Products</a>
        </li>
        <li class="menu__link">
            <a href="{% url 'categories:list' %}" class="menu__link-inner_categories">Categories</a>
        </li>
        <li class="menu__link">
            <a href="{% url 'main:contacts' %}" class="menu__link-inner_contacts">Contacts</a>
        </li>
        <li class="menu__link">
            <a href="{% url 'main:about' %}" class="menu__link-inner_about">About</a>
        </li>
    </ul>
    <ul class="category-list">
        {% for itm in categories %}
        <li class="category-item">
            <a class="category-item__link" href="{% url 'categories:detail' pk=itm.id %}">
                {{ itm }}
            </a>
    
        </li>
        {% endfor %}
    </ul>
    <section class="container">
        {% block page_content %}
        {% endblock %}
    </section>
    {% block page_js %}
    {% endblock %}
</body>
</html>