{% extends 'master.html' %}

{% load static %}

{% block page_styles %}
{% endblock %}

{% block page_content %}
{% csrf_token %}
<h1 class="cart-title">
    Cart page
</h1>
<ul class="product-list"></ul>

{% endblock %}

{% block page_js %}
<script src="{% static 'server/js/counter.js' %}"></script>
<script src="{% static 'cart/js/items.js' %}"></script>

<script>
    // const productsList = document.querySelector('.product-list');
    const items = getLocalValue('products');
    const identityList = Object.keys(items);
    const productsUrl = `{% url 'rest:products-list' %}?id__in=${identityList.join(',')}`;

    $.ajax({url: productsUrl})
        .done(
            response => {
                response.results.map(
                    itm => $('.product-list').append(
                        renderItem(itm, items[itm.id])
                    )
                )
            }
        )

    // fetch(productsUrl)
    //     .then(response => response.json())
    //     .then(data => {
    //         data.results.map(
    //             itm => $('.product-list').append(
    //                 renderItem(itm, items[itm.id])
    //             )
    //         )
    //     })
</script>

{% endblock %}