{% extends 'master.html' %}
{% load static %}

{% block page_title %}
Purchase list
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block page_content %}

{% include 'pagination.html' with page=page_obj paginator=paginator %}

<ul class="product-list">
    {% for purchase in object_list %}
    <li>
        {{ purchase }}
        <ul>
            {% for item in purchase.items.all  %}
            <li>
                <span>
                    {{ item.product.title }}
                </span>
                <span>
                    {{ item.value }}
                </span>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}

{% block page_js %}
{% endblock %}