.product {
    position: relative;
}

.product__content {
    position: relative;
}

.product__image {
    width: 250px;
    display: block;
}

.product__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;   
}

.show-more-button_hidden {
    display: none;
}
